# Supabase — local dev (Docker): http://127.0.0.1:54321
# Supabase — device físico en red local: http://192.168.X.X:54321
# Supabase — producción: https://jikjeokundmaafuytdcx.supabase.co
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-local-anon-key

EXPO_PUBLIC_EAS_PROJECT_ID=a5f4f7c0-861c-48b1-9ed6-fc46e7843844
